.hf {
	&-btns {
		display:flex;
		flex-wrap:wrap;
		gap:20px;

		&__item {
			--hfb-icon:#{$color-blue};
		}

		&__link {
			display:flex;
			align-items: center;
			gap:8px;
			font-size:16px;
			line-height:1.6em;
			letter-spacing: .01em;

			html.no-touch &:hover {
				color:$color-blue;
			}
		}

		&__icon {
			display:block;
			flex-shrink: 0;
			width:24px;
			aspect-ratio: 1;

			&:before,
			&:after {
				background:$color-text;
			}

			& svg {
				fill:var(--hfb-icon);
			}
		}

		html.no-touch &__link:hover & {
			&__icon {

				&:before,
				&:after {
					background:$color-blue;
				}
			}
		}
	}
}

.header {
	position:absolute;
	left:0;
	top:0;
	z-index:20;
	background:#fff;

	&__top {
		background:#F7F7F9;
		border-bottom:#ccc solid 1px;

		&-block {
			height:var(--header-t);
			display:flex;
			align-items:center;
			justify-content:space-between;
			gap:20px;
		}

		&-right {
			gap:38px;
		}

		&-btn {
			&--m {
				@media only screen and (min-width: 1024px) {
					display:none;
				}
			}
		}
	}

	&__mid {
		&-block {
			height:var(--header-m);
			display:flex;
			align-items:center;
			gap:20px;
		}

		&-left {
			flex-shrink: 0;
			margin-right:auto;
		}

		&-logo {
			--logo-t-font:28px;

			--logo-b-font:14px;
			--logo-b-mt:-2px;
		}
		
		&-contacts {
			display:flex;
			align-items: center;
			gap:20px;
			white-space: nowrap;

			& .ui-contact {
				font-size:16px;
				line-height:1.6em;
			}
		}
	}
}

.fixed {
	position:absolute;
	left:0;
	top:calc(var(--header-t) + var(--header-m));
	width:100%;
	z-index:19;
	background:var(--fixed-bg);

	&__block {
		height:var(--fixed);
		display:flex;
		align-items:center;
		gap:20px;
	}

	&__left {
		flex-shrink: 0;
	}

	&__logo {
		--logo-t-font:20px;

		--logo-b-font:10px;
		--logo-b-mt:1px;
	}

	&__toggle {
		flex-shrink: 0;
		display:flex;
		align-items:center;
		justify-content:center;
		padding:0 32px;
		height:48px;
		gap:10px;
		color:#fff;
		background:$color-blue;
		border-radius:10px;
		cursor:pointer;
		transition:background .2s;

		&-icon {
			width:30px;
			flex-shrink: 0;

			&:before,
			&:after {
				background:#fff;
			}
		}

		&-text {
			font-size:18px;
			line-height:1.2em;
			letter-spacing: .01em;
		}

		html.no-touch &:hover {
			background:#125C80;
		}
	}

	&__search {
		flex-grow:1;
	}

	&__btns {
		display:flex;
		align-items:center;
		gap:20px;
	}

	&__btn {
		display:flex;
		align-items:center;
		gap:12px;
		font-size:16px;
		line-height:1.6em;
		letter-spacing: .01em;
		color:var(--fixed-btn-c);

		&-icon {
			display:block;
			width:24px;
			aspect-ratio: 1;
			position:relative;

			& svg {
				fill:var(--fixed-btn-i);
				transition: fill .2s;
			}
		}

		&-quantity {
			position:absolute;
			width:14px;
			aspect-ratio: 1;
			display:flex;
			align-items:center;
			justify-content:center;
			border-radius:100%;
			color:#fff;
			background:#EE555E;
			top:-3px;
			right:-5px;
			font-size:10px;
			line-height:1em;
		}

		html.no-touch &:hover {
			color:$color-blue;
		}

		html.no-touch &:hover & {
			&-icon {
				& svg {
					fill:$color-blue;
				}
			}
		}
	}

	&-menu {
		position:absolute;
		inset:0;
		display:flex;
		flex-direction: column;
		justify-content:center;
		background:#fff;

		@media only screen and (min-width: 1024px) {
			display:none!important;
		}

		&__block {
			display:flex;
			gap:18px;
		}

		&__back,
		&__close {
			cursor:pointer;
			width:24px;
			aspect-ratio: 1;
			flex-shrink: 0;
			background:#828090;
		}

		&__back {
			mask:url('data:image/svg+xml,%3Csvg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M19 12H5m0 0 5.25 5.25M5 12l5.25-5.25" stroke="%23828090" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E') no-repeat center / 100% auto;
		}

		&__close {
			mask:url('data:image/svg+xml,%3Csvg width="30" height="30" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M22.142 22.143 7.856 7.857m14.286 0L7.856 22.143" stroke="%23fff" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E') no-repeat center / 100% auto;
		}

		&__text,
		&__ttl {
			flex-grow:1;
			text-align:center;
			text-overflow: ellipsis;
			overflow:hidden;
			color:#000;
			line-height:1.2em;
		}

		&__ttl {
			font-size:16px;
		}

		&__text {
			font-size:14px;
		}

		.app:not(.app--catalog) & {
			display:none;
		}

		&:not(.active) & {
			&__text {
				display:none;
			}
		}

		&.active & {
			&__ttl {
				display:none;
			}
		}
	}

	@media only screen and (min-width: 1024px) {
		&:not(&--s) & {
			&__left {
				display:none;
			}
		}

		&--s {
			position:fixed;
			top:0;
			box-shadow: 0px 4px 8px 2px rgba(175, 172, 246, 0.10);
			background:var(--fixed-s-bg);
			border-bottom:#ccc solid 1px;
		}

		&--s & {
			&__block {
				height:var(--fixed-s);
			}

			&__btn {
				color:var(--fixed-s-btn-c);

				&-icon {
					& svg {
						fill:var(--fixed-s-btn-i);
					}
				}
			}
		}
	}
}

.search {
	position:fixed;
	left:0;
	top:var(--fixed);
	right:0;
	display:flex;
	height:var(--search);
	flex-direction: column;
	justify-content:center;
	background:#F7F7F9;
	z-index:19;

	@media only screen and (min-width: 1024px) {
		display:none;
	}
}

.menu {
	@media only screen and (min-width: 1024px) {
		--menu-top:calc(var(--header-t) + var(--header-m) + var(--fixed));

		position:fixed;
		z-index:10;
		left:0;
		top:var(--menu-top);
		background: rgba(0, 0, 0, 0.40);
		right:0;
		padding-bottom:20px;
		height:calc(100vh - var(--menu-top));
		height:calc((var(--vh) * 100) - var(--menu-top));
		//height:calc(100svh - var(--menu-top));


		transition:opacity .5s;

		.app:not(.app--menu) & {
			pointer-events: none;
			opacity:0;
		}

		&__block {
			display:flex;
			background:#fff;
			border-radius:0 0 10px 10px;
			box-shadow: 0px 4px 8px 2px rgba(175, 172, 246, 0.10);
			overflow:hidden;
		}

		&__left {
			width:430px;
			flex-shrink: 0;
			position:relative;

			&:before {
				content:'';
				position:absolute;
				top:0;
				right:0;
				bottom:0;
				width:1px;
				background:#DEDEDE;
			}

			&-in {
				position:relative;
				max-height:calc(100vh - var(--menu-top) - 20px);
				max-height:calc((var(--vh) * 100) - var(--menu-top) - 20px);
				max-height:calc(100svh - var(--menu-top) - 20px);
				overflow:hidden;
				overflow-y:auto;
				height:100%;
			}
		}

		&__right {
			flex-grow:1;
			border-top:$color-blue solid 10px;

			&-in {
				padding:20px 10px;
				max-height:calc(100vh - var(--menu-top) - 20px);
				max-height:calc((var(--vh) * 100) - var(--menu-top) - 20px);
				max-height:calc(100svh - var(--menu-top) - 20px);
				overflow:hidden;
				overflow-y:auto;
				height:100%;
			}
		}

		.app--scrolled & {
			--menu-top:var(--fixed-s);
		}
	}
}