<form class="contacts__form">
	<div class="ui-grid contacts__form-row">
		<div class="ui-grid__col contacts__form-col contacts__form-col--2">
			<div class="ui-grid contacts__form-row">
				<div class="ui-grid__col contacts__form-col">
					<label class="ui-input ui-input--blue">
						<input type="text" placeholder="Ваше имя" />
					</label>
				</div>
				<div class="ui-grid__col contacts__form-col">
					<label class="ui-input ui-input--blue">
						<input type="text" placeholder="Ваш телефон" />
					</label>
				</div>
				<div class="ui-grid__col contacts__form-col">
					<label class="ui-input ui-input--blue">
						<input type="email" placeholder="Ваш e-mail" />
					</label>
				</div>
			</div>
		</div>
		<div class="ui-grid__col contacts__form-col contacts__form-col--2">
			<label class="ui-input ui-input--blue">
				<textarea class="contacts__form-ta" placeholder="Ваше сообщение"></textarea>
			</label>
		</div>
		<div class="ui-grid__col contacts__form-col">
			<div class="contacts__form-bot">
				<div class="contacts__form-btn">
					<button class="ui-btn ui-btn--blue" type="submit">
						<span class="ui-btn__text">
							Отправить
						</span>
					</button>
				</div>
				<div class="ui-agree contacts__form-agree">
					Мы гарантируем сохранность Ваших персональных данных.<br />
					Нажимая на кнопку Вы подтверждаете свое согласие на обработку персональных данных
				</div>
			</div>
		</div>
	</div>
</form>