		<footer class="footer">
			<div class="footer__top">
				<div class="container">
					<div class="footer__top-block">
						<div class="footer__top-left">
							<a class="ui-logo footer__logo">
								<span class="ui-logo__t">
									ПЕННАЯ - НАСАДКА
								</span>
								<span class="ui-logo__b">
									пенные насадки для бесконтактных моек
								</span>
							</a>
						</div>
						<div class="footer__top-right">
							<div class="ui-text footer__top-text">
								Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enimAmet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer__mid">
				<div class="container">
					<div class="footer__mid-block">
						<div class="footer__mid-left">
							<div class="hf-btns footer__btns">
								<div class="hf-btns__item">
									<a class="hf-btns__link menu-toggle catalog-toggle">
										<span class="ui-toggle ui-toggle--c hf-btns__icon"></span>
										Каталог
									</a>
								</div>
								<div class="hf-btns__item">
									<a class="hf-btns__link">
										Покупателям
									</a>
								</div>
								<div class="hf-btns__item">
									<a class="hf-btns__link">
										Контакты
									</a>
								</div>
							</div>
						</div>
						<div class="footer__mid-right">
							<div class="ui-grid footer__contacts">
								<div class="ui-grid__col footer__contacts-col">
									<div class="footer__contacts-ttl">
										Контактые данные:
									</div>
									<div class="ui-contact">
										<div class="ui-contact__icon">
											<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-phone"></use></svg>
										</div>
										<div class="ui-contact__text">
											<a href="tel:+7 (495) 128-34-04">+7 (495) 128-34-04</a>
										</div>
									</div>
									<div class="ui-contact">
										<div class="ui-contact__icon">
											<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-letter"></use></svg>
										</div>
										<div class="ui-contact__text">
											<a href="mailto:p_nasadka@mail.ru">p_nasadka@mail.ru</a>
										</div>
									</div>
								</div>
								<div class="ui-grid__col footer__contacts-col">
									<div class="footer__contacts-ttl">
										Режим работы:
									</div>
									<div class="ui-contact">
										<div class="ui-contact__icon">
											<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-clock"></use></svg>
										</div>
										<div class="ui-contact__text">
											<p>
												Пн-Пт: c 09.00 - 19.00
											</p>
											<p>
												Сб-Вс: выходной
											</p>
										</div>
									</div>
								</div>
								<div class="ui-grid__col footer__contacts-col">
									<div class="footer__contacts-ttl">
										Адрес:
									</div>
									<div class="ui-contact">
										<div class="ui-contact__icon">
											<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-location"></use></svg>
										</div>
										<div class="ui-contact__text">
											г. Москва, 8-я улица Соколиной горы, д.&nbsp;18, корп.&nbsp;1
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer__bot">
				<div class="container">
					<div class="footer__bot-links">
						<div class="footer__bot-links-item">
							<a>Политика конфиденциальности</a>
						</div>
						<div class="footer__bot-links-item">
							<a>Политика обработки персональных данных</a>
						</div>
					</div>
				</div>
			</div>
		</footer>