		<header class="header">
			<div class="header__top">
				<div class="container">
					<div class="header__top-block">
						<div class="hf-btns header__top-left">
							<div class="hf-btns__item">
								<a class="hf-btns__link">
									<span class="hf-btns__icon">
										<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-location"></use></svg>
									</span>
									Москва
								</a>
							</div>
						</div>
						<div class="hf-btns header__top-right">
							<div class="hf-btns__item">
								<a class="hf-btns__link">
									Главная
								</a>
							</div>
							<div class="hf-btns__item header__top-btn header__top-btn--d">
								<a class="hf-btns__link">
									Каталог
								</a>
							</div>
							<div class="hf-btns__item header__top-btn header__top-btn--m">
								<a class="hf-btns__link menu-toggle catalog-toggle">
									<span class="ui-toggle ui-toggle--c hf-btns__icon"></span>
									Каталог
								</a>
							</div>
							<div class="hf-btns__item">
								<a class="hf-btns__link">
									Оплата и доставка
								</a>
							</div>
							<div class="hf-btns__item">
								<a class="hf-btns__link">
									Контакты
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="header__mid">
				<div class="container">
					<div class="header__mid-block">
						<div class="header__mid-left">
							<a class="ui-logo header__mid-logo">
								<span class="ui-logo__t">
									ПЕННАЯ - НАСАДКА
								</span>
								<span class="ui-logo__b">
									пенные насадки для бесконтактных моек
								</span>
							</a>
						</div>
						<div class="header__mid-contacts">
							<div class="ui-contact">
								<div class="ui-contact__icon">
									<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-clock"></use></svg>
								</div>
								<div class="ui-contact__text">
									Пн-Пт: c 09.00 - 19.00
								</div>
							</div>
							<a class="ui-contact" href="mailto:p_nasadka@mail.ru">
								<div class="ui-contact__icon">
									<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-letter"></use></svg>
								</div>
								<div class="ui-contact__text header__mid-contacts-t">
									p_nasadka@mail.ru
								</div>
							</a>
							<a class="ui-contact" href="tel:+7 (495) 128-34-04">
								<div class="ui-contact__icon">
									<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-phone"></use></svg>
								</div>
								<div class="ui-contact__text header__mid-contacts-t">
									+7 (495) 128-34-04
								</div>
							</a>
						</div>
						<div class="header__mid-cb">
							<button class="ui-btn ui-btn--blue header__mid-cb-btn" type="button" data-popup="callback">
								<span class="ui-btn__text">
									Обратный звонок
								</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="fixed">
			<div class="container">
				<div class="fixed__block">
					<div class="fixed__left">
						<a class="ui-logo fixed__logo">
							<span class="ui-logo__t">
								ПЕННАЯ - НАСАДКА
							</span>
							<span class="ui-logo__b">
								пенные насадки для бесконтактных моек
							</span>
						</a>
					</div>
					<button class="fixed__toggle menu-toggle">
						<span class="ui-toggle ui-toggle--m fixed__toggle-icon"></span>
						<span class="fixed__toggle-text">
							Каталог
						</span>
					</button>
					<div class="fixed__search">
						<div class="ui-search">
							<div class="ui-search__inp">
								<input type="text" placeholder="Поиск товаров" />
							</div>
							<button class="ui-search__btn">
								<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use></svg>
							</button>
						</div>
					</div>
					<div class="fixed__btns">
						<a class="fixed__btn">
							<span class="fixed__btn-icon">
								<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cart"></use></svg>
								<span class="fixed__btn-quantity">2</span>
							</span>
							<span class="fixed__btn-text">
								Корзина
							</span>
						</a>
						<a class="fixed__btn">
							<span class="fixed__btn-icon">
								<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-fav"></use></svg>
							</span>
							<span class="fixed__btn-text">
								Избранное
							</span>
						</a>
					</div>
				</div>
			</div>
			<div class="fixed-menu">
				<div class="container">
					<div class="fixed-menu__block">
						<div class="fixed-menu__back">
							
						</div>
						<div class="fixed-menu__text">
							
						</div>
						<div class="fixed-menu__ttl">
							Каталог
						</div>
						<div class="fixed-menu__close"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="search">
			<div class="container">
				<div class="ui-search">
					<div class="ui-search__inp">
						<input type="text" placeholder="Поиск товаров" />
					</div>
					<button class="ui-search__btn">
						<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use></svg>
					</button>
				</div>
			</div>
		</div>
		<div class="menu">
			<div class="container menu__block">
				<div class="menu__left">
					<div class="menu__left-in ui-scroll">
						<div class="ui-sidemenu ui-sidemenu--m">
							<ul class="ui-sidemenu__list">
								<li class="ui-sidemenu__item" data-menu="1">
									<a class="ui-sidemenu__link">
										Пенные насадки и комплектующие
									</a>
									<span class="ui-sidemenu__arr"></span>
								</li>
								<li class="ui-sidemenu__item" data-menu="2">
									<a class="ui-sidemenu__link">
										Шланги высокого давления для минимоек и АВД
									</a>
									<span class="ui-sidemenu__arr"></span>
								</li>
								<li class="ui-sidemenu__item" data-menu="3">
									<a class="ui-sidemenu__link">
										Шланги прочистки канализации для минимоек и АВД
									</a>
									<span class="ui-sidemenu__arr"></span>
								</li>
								<li class="ui-sidemenu__item current" data-menu="4">
									<a class="ui-sidemenu__link">
										Пенные насадки и комплектующие
									</a>
									<span class="ui-sidemenu__arr"></span>
								</li>
								<li class="ui-sidemenu__item" data-menu="5">
									<a class="ui-sidemenu__link">
										Шланги высокого давления для минимоек и АВД
									</a>
									<span class="ui-sidemenu__arr"></span>
								</li>
								<li class="ui-sidemenu__item" data-menu="6">
									<a class="ui-sidemenu__link">
										Шланги прочистки канализации для минимоек и АВД
									</a>
									<span class="ui-sidemenu__arr"></span>
								</li>
								<li class="ui-sidemenu__item" data-menu="7">
									<a class="ui-sidemenu__link">
										Пенные насадки и комплектующие
									</a>
									<span class="ui-sidemenu__arr"></span>
								</li>
								<li class="ui-sidemenu__item" data-menu="8">
									<a class="ui-sidemenu__link">
										Шланги высокого давления для минимоек и АВД
									</a>
									<span class="ui-sidemenu__arr"></span>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="menu__right">
					<div class="menu__right-in ui-scroll">
						<div class="ui-sidemenu">
							<ul class="ui-sidemenu__sub" data-menu="1">
								<li class="ui-sidemenu__subitem">
									<a class="ui-sidemenu__sublink">
										1Пенные насадки
									</a>
								</li>
								<li class="ui-sidemenu__subitem">
									<a class="ui-sidemenu__sublink">
										Пенокомлекты
									</a>
								</li>
								<li class="ui-sidemenu__subitem">
									<a class="ui-sidemenu__sublink">
										Пенонасадки для МСО
									</a>
								</li>
								<li class="ui-sidemenu__subitem">
									<a class="ui-sidemenu__sublink">
										Адаптеры, переходники и запчасти для пенных насадок
									</a>
								</li>
							</ul>
							<ul class="ui-sidemenu__sub" data-menu="2">
								<li class="ui-sidemenu__subitem">
									<a class="ui-sidemenu__sublink">
										2Пенные насадки
									</a>
								</li>
								<li class="ui-sidemenu__subitem">
									<a class="ui-sidemenu__sublink">
										Пенокомлекты
									</a>
								</li>
								<li class="ui-sidemenu__subitem">
									<a class="ui-sidemenu__sublink">
										Пенонасадки для МСО
									</a>
								</li>
								<li class="ui-sidemenu__subitem">
									<a class="ui-sidemenu__sublink">
										Адаптеры, переходники и запчасти для пенных насадок
									</a>
								</li>
							</ul>
							<ul class="ui-sidemenu__sub" data-menu="3">
								<li class="ui-sidemenu__subitem">
									<a class="ui-sidemenu__sublink">
										3Пенные насадки
									</a>
								</li>
								<li class="ui-sidemenu__subitem">
									<a class="ui-sidemenu__sublink">
										Пенокомлекты
									</a>
								</li>
								<li class="ui-sidemenu__subitem">
									<a class="ui-sidemenu__sublink">
										Пенонасадки для МСО
									</a>
								</li>
								<li class="ui-sidemenu__subitem">
									<a class="ui-sidemenu__sublink">
										Адаптеры, переходники и запчасти для пенных насадок
									</a>
								</li>
							</ul>
							<ul class="ui-sidemenu__sub" data-menu="4">
								<li class="ui-sidemenu__subitem">
									<a class="ui-sidemenu__sublink">
										4Пенные насадки
									</a>
								</li>
								<li class="ui-sidemenu__subitem">
									<a class="ui-sidemenu__sublink current">
										Пенокомлекты
									</a>
								</li>
								<li class="ui-sidemenu__subitem">
									<a class="ui-sidemenu__sublink">
										Пенонасадки для МСО
									</a>
								</li>
								<li class="ui-sidemenu__subitem">
									<a class="ui-sidemenu__sublink">
										Адаптеры, переходники и запчасти для пенных насадок
									</a>
								</li>
							</ul>
							<ul class="ui-sidemenu__sub" data-menu="5">
								<li class="ui-sidemenu__subitem">
									<a class="ui-sidemenu__sublink">
										5Пенные насадки
									</a>
								</li>
								<li class="ui-sidemenu__subitem">
									<a class="ui-sidemenu__sublink">
										Пенокомлекты
									</a>
								</li>
								<li class="ui-sidemenu__subitem">
									<a class="ui-sidemenu__sublink">
										Пенонасадки для МСО
									</a>
								</li>
								<li class="ui-sidemenu__subitem">
									<a class="ui-sidemenu__sublink">
										Адаптеры, переходники и запчасти для пенных насадок
									</a>
								</li>
							</ul>
							<ul class="ui-sidemenu__sub" data-menu="6">
								<li class="ui-sidemenu__subitem">
									<a class="ui-sidemenu__sublink">
										6Пенные насадки
									</a>
								</li>
								<li class="ui-sidemenu__subitem">
									<a class="ui-sidemenu__sublink">
										Пенокомлекты
									</a>
								</li>
								<li class="ui-sidemenu__subitem">
									<a class="ui-sidemenu__sublink">
										Пенонасадки для МСО
									</a>
								</li>
								<li class="ui-sidemenu__subitem">
									<a class="ui-sidemenu__sublink">
										Адаптеры, переходники и запчасти для пенных насадок
									</a>
								</li>
							</ul>
							<ul class="ui-sidemenu__sub" data-menu="7">
								<li class="ui-sidemenu__subitem">
									<a class="ui-sidemenu__sublink">
										7Пенные насадки
									</a>
								</li>
								<li class="ui-sidemenu__subitem">
									<a class="ui-sidemenu__sublink">
										Пенокомлекты
									</a>
								</li>
								<li class="ui-sidemenu__subitem">
									<a class="ui-sidemenu__sublink">
										Пенонасадки для МСО
									</a>
								</li>
								<li class="ui-sidemenu__subitem">
									<a class="ui-sidemenu__sublink">
										Адаптеры, переходники и запчасти для пенных насадок
									</a>
								</li>
							</ul>
							<ul class="ui-sidemenu__sub" data-menu="8">
								<li class="ui-sidemenu__subitem">
									<a class="ui-sidemenu__sublink">
										8Пенные насадки
									</a>
								</li>
								<li class="ui-sidemenu__subitem">
									<a class="ui-sidemenu__sublink">
										Пенокомлекты
									</a>
								</li>
								<li class="ui-sidemenu__subitem">
									<a class="ui-sidemenu__sublink">
										Пенонасадки для МСО
									</a>
								</li>
								<li class="ui-sidemenu__subitem">
									<a class="ui-sidemenu__sublink">
										Адаптеры, переходники и запчасти для пенных насадок
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>