	<div class="popups-overlay"></div>
	<div class="popup" id="added">
		<div class="popup__content added popup__close-container">
			<div class="added__inner">
				<div class="head head--in-cont added__head">
					<div class="head__title">
						Товар добавлен в корзину
					</div>
				</div>
				<div class="added__product">
					<div class="ui-cart ui-cart--a">
						<div class="ui-cart__img">
							<img src="@@webRoot/images/card1.png" alt="" />
						</div>
						<div class="ui-cart__info">
							<div class="ui-cart__art">
								Артикул товара: DT-0301
							</div>
							<div class="ui-cart__name">
								<a title="Бутылка с печатью Detail">Бутылка с печатью Detail</a>
							</div>
						</div>
						<div class="ui-cart__quantity">
							<div class="ui-quantity ui-quantity--c">
								<div class="ui-quantity__ctrl" data-quantity="minus"></div>
								<div class="ui-quantity__inp">
									<input type="text" value="1" />
								</div>
								<div class="ui-quantity__ctrl" data-quantity="plus"></div>
							</div>
						</div>
						<div class="ui-cart__price">
							<div class="ui-cart__price-c">
								130 ₽
							</div>
						</div>
						<div class="ui-cart__delete">
							<div class="ui-delete ui-tooltip" data-tooltip="Удалить товар" data-tooltip-x="right" data-tooltip-y="top">
								<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-delete"></use></svg>
							</div>
						</div>
					</div>
				</div>
				<div class="added__bot">
					<div class="added__bot-item added__total">
						В корзине 2 товара на общую сумму 2 100
					</div>
					<div class="added__bot-item added__btns">
						<div class="added__btns-item">
							<button class="ui-btn ui-btn--fw ui-btn--border-blue" data-popup-close>
								<span class="ui-btn__text">
									Продолжить покупки
								</span>
							</button>
						</div>
						<div class="added__btns-item">
							<a class="ui-btn ui-btn--fw ui-btn--blue" href="page-cart.html">
								<span class="ui-btn__text">
									Перейти в корзину
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="popup" id="question" data-close="ui-crossbtn--w">
		<div class="popup__content request popup__close-container">
			<div class="request__inner">
				<div class="head head--in-cont request__head">
					<div class="head__title">
						Появились вопросы?
					</div>
					<div class="ui-text request__head-subttl">
						Оставьте Ваше сообщение и в ближайшее время наши специалисты свяжутся с Вами и ответят на все интересующие вопросы
					</div>
				</div>
				<form class="request__form">
					<div class="request__form-field">
						<label class="ui-input ui-input--h2 ui-input--grey">
							<input type="text" placeholder="Ваше имя" />
						</label>
					</div>
					<div class="request__form-field">
						<label class="ui-input ui-input--h2 ui-input--grey">
							<input type="text" placeholder="Ваш телефон" />
						</label>
					</div>
					<div class="request__form-field">
						<label class="ui-input ui-input--h2 ui-input--grey">
							<input type="email" placeholder="Ваш e-mail" />
						</label>
					</div>
					<div class="request__form-field">
						<div class="ui-agree">
							Мы гарантируем сохранность Ваших персональных данных.<br >
							Нажимая на кнопку Вы подтверждаете свое согласие на обработку персональных данных
						</div>
					</div>
					<div class="request__form-field">
						<div class="request__form-btn">
							<button class="ui-btn ui-btn--border-white" type="submit">
								<span class="ui-btn__text">
									Отправить
								</span>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="popup" id="callback" data-close="ui-crossbtn--w">
		<div class="popup__content request popup__close-container">
			<div class="request__inner">
				<div class="head head--in-cont request__head">
					<div class="head__title">
						Обратный звонок
					</div>
					<div class="ui-text request__head-subttl">
						В ближайшее время наши специалисты свяжутся с Вами и ответят на все интересующие вопросы
					</div>
				</div>
				<form class="request__form">
					<div class="request__form-field">
						<label class="ui-input ui-input--h2 ui-input--grey">
							<input type="text" placeholder="Ваше имя" />
						</label>
					</div>
					<div class="request__form-field">
						<label class="ui-input ui-input--h2 ui-input--grey">
							<input type="text" placeholder="Ваш телефон" />
						</label>
					</div>
					<div class="request__form-field">
						<label class="ui-input ui-input--h2 ui-input--grey">
							<input type="email" placeholder="Ваш e-mail" />
						</label>
					</div>
					<div class="request__form-field">
						<div class="ui-agree">
							Мы гарантируем сохранность Ваших персональных данных.<br >
							Нажимая на кнопку Вы подтверждаете свое согласие на обработку персональных данных
						</div>
					</div>
					<div class="request__form-field">
						<div class="request__form-btn">
							<button class="ui-btn ui-btn--border-white" type="submit">
								<span class="ui-btn__text">
									Отправить
								</span>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="popup" id="oneclickbuy" data-close="ui-crossbtn--w">
		<div class="popup__content request popup__close-container">
			<div class="request__inner">
				<div class="head head--in-cont request__head">
					<div class="head__title">
						Быстрый заказ
					</div>
					<div class="ui-text request__head-subttl">
						В ближайшее время наши специалисты свяжутся с Вами 
					</div>
				</div>
				<form class="request__form">
					<div class="request__form-field request__click">
						<div class="request__click-left">
							<div class="request__click-img">
								<img src="@@webRoot/images/card1.png" alt="" />
							</div>
							<div class="request__click-name">
								Бутылка с печатью Detail
							</div>
							<div class="request__click-price">
								130 ₽
							</div>
						</div>
						<div class="request__click-right request__form">
							<div class="request__form-field request__click-ttl">
								Заполните данные для заказа
							</div>
							<div class="request__form-field">
								<label class="ui-input ui-input--h2 ui-input--white">
									<input type="text" placeholder="Ваше имя" />
								</label>
							</div>
							<div class="request__form-field">
								<label class="ui-input ui-input--h2 ui-input--white">
									<input type="text" placeholder="Ваш телефон" />
								</label>
							</div>
							<div class="request__form-field">
								<label class="ui-input ui-input--h2 ui-input--white">
									<textarea class="request__click-ta" placeholder="Сообщение"></textarea>
								</label>
							</div>
						</div>
					</div>
					<div class="request__form-field">
						<div class="ui-agree">
							Мы гарантируем сохранность Ваших персональных данных.<br >
							Нажимая на кнопку Вы подтверждаете свое согласие на обработку персональных данных
						</div>
					</div>
					<div class="request__form-field">
						<div class="request__form-btn">
							<button class="ui-btn ui-btn--border-white" type="submit">
								<span class="ui-btn__text">
									Отправить
								</span>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>