		<section class="section related">
			<header class="head">
				<h2 class="head__title">
					@@ttl
				</h2>
			</header>
			<div class="container ui-carousel" data-carousel='{
				"slidesPerView": 4,
				"loop": false,
				"breakpoints": {
					"1": {
						"slidesPerView": 1
					},
					"600": {
						"slidesPerView": 2
					},
					"1024": {
						"slidesPerView": 3
					},
					"1280": {
						"slidesPerView": 4
					}
				}
			}'>
				<div class="related__block ui-carousel__block">
					<div class="related__slider ui-carousel__slider">
						<div class="swiper-wrapper">
							<div class="swiper-slide ui-carousel__item related__item">
								@@include('_ui-card.html', {
									'tag': 'div',
									'img': 'card1.png',
									'art': 'DT-0301',
									'name': 'Бутылка с печатью Detail',
									'price': 130,
									'badges': ''
								})
							</div>
							<div class="swiper-slide ui-carousel__item related__item">
								@@include('_ui-card.html', {
									'tag': 'div',
									'img': 'card1.png',
									'art': 'DT-0301',
									'name': 'Бутылка с печатью Detail',
									'price': 130,
									'badges': ''
								})
							</div>
							<div class="swiper-slide ui-carousel__item related__item">
								@@include('_ui-card.html', {
									'tag': 'div',
									'img': 'card1.png',
									'art': 'DT-0301',
									'name': 'Бутылка с печатью Detail',
									'price': 130,
									'badges': ''
								})
							</div>
							<div class="swiper-slide ui-carousel__item related__item">
								@@include('_ui-card.html', {
									'tag': 'div',
									'img': 'card1.png',
									'art': 'DT-0301',
									'name': 'Бутылка с печатью Detail',
									'price': 130,
									'badges': ''
								})
							</div>
							<div class="swiper-slide ui-carousel__item related__item">
								@@include('_ui-card.html', {
									'tag': 'div',
									'img': 'card1.png',
									'art': 'DT-0301',
									'name': 'Бутылка с печатью Detail',
									'price': 130,
									'badges': ''
								})
							</div>
							<div class="swiper-slide ui-carousel__item related__item">
								@@include('_ui-card.html', {
									'tag': 'div',
									'img': 'card1.png',
									'art': 'DT-0301',
									'name': 'Бутылка с печатью Detail',
									'price': 130,
									'badges': ''
								})
							</div>
							<div class="swiper-slide ui-carousel__item related__item">
								@@include('_ui-card.html', {
									'tag': 'div',
									'img': 'card1.png',
									'art': 'DT-0301',
									'name': 'Бутылка с печатью Detail',
									'price': 130,
									'badges': ''
								})
							</div>
							<div class="swiper-slide ui-carousel__item related__item">
								@@include('_ui-card.html', {
									'tag': 'div',
									'img': 'card1.png',
									'art': 'DT-0301',
									'name': 'Бутылка с печатью Detail',
									'price': 130,
									'badges': ''
								})
							</div>
							<div class="swiper-slide ui-carousel__item related__item">
								@@include('_ui-card.html', {
									'tag': 'div',
									'img': 'card1.png',
									'art': 'DT-0301',
									'name': 'Бутылка с печатью Detail',
									'price': 130,
									'badges': ''
								})
							</div>
							<div class="swiper-slide ui-carousel__item related__item">
								@@include('_ui-card.html', {
									'tag': 'div',
									'img': 'card1.png',
									'art': 'DT-0301',
									'name': 'Бутылка с печатью Detail',
									'price': 130,
									'badges': ''
								})
							</div>
							<div class="swiper-slide ui-carousel__item related__item">
								@@include('_ui-card.html', {
									'tag': 'div',
									'img': 'card1.png',
									'art': 'DT-0301',
									'name': 'Бутылка с печатью Detail',
									'price': 130,
									'badges': ''
								})
							</div>
						</div>
					</div>
					<div class="ui-carousel__nav ui-nav">
						<button class="ui-nav__item ui-nav__item--p" type="button">
							<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-nav-arrow"></use></svg>
						</button>
						<button class="ui-nav__item ui-nav__item--n" type="button">
							<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-nav-arrow"></use></svg>
						</button>
					</div>
				</div>
			</div>
		</section>