<@@tag class="ui-card">
	<a class="ui-card__img" href="page-catalog-product.html">
		<img src="@@webRoot/images/@@img" alt="" />
	</a>
	<div class="ui-badges ui-card__badges">
		@@badges
	</div>
	<div class="ui-card__art">
		Артикул товара: @@art
	</div>
	<div class="ui-card__name">
		<a href="page-catalog-product.html">@@name</a>
	</div>
@@if (context.inpack == true) {
	<div class="ui-card__inpack ui-inpack ui-inpack--s2">
		<div class="ui-inpack__param">
			Длина шланга (м)
		</div>
		<div class="ui-inpack__opts">
			<label class="ui-inpack__opt">
				<input type="radio" name="length" val="10" />
				<span class="ui-inpack__opt-in">
					10
				</span>
			</label>
			<label class="ui-inpack__opt">
				<input type="radio" name="length" val="15" />
				<span class="ui-inpack__opt-in">
					15
				</span>
			</label>
			<label class="ui-inpack__opt">
				<input type="radio" name="length" val="20" />
				<span class="ui-inpack__opt-in">
					20
				</span>
			</label>
			<label class="ui-inpack__opt">
				<input type="radio" name="length" val="30" />
				<span class="ui-inpack__opt-in">
					30
				</span>
			</label>
			<label class="ui-inpack__opt">
				<input type="radio" name="length" val="40" />
				<span class="ui-inpack__opt-in">
					40
				</span>
			</label>
		</div>
	</div>
}
	<div class="ui-card__bot">
		<div class="ui-card__price">
			<div class="ui-card__price-c">
				@@price ₽
			</div>
			@@if (context.priceOld) {
			<div class="ui-card__price-o">
				@@priceOld ₽
			</div>
			}
		</div>
		<div class="ui-fav ui-tooltip ui-card__fav @@isFav" data-tooltip="@@if (!context.favText) {Добавить в избранное}@@if (context.favText) {@@favText}" data-tooltip-x="right" data-tooltip-y="top">
			<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-fav"></use></svg>
		</div>
	</div>
	<div class="ui-card__buy">
		<button class="ui-btn ui-btn--blue ui-card__btn" data-popup="added">
			<span class="ui-btn__text">
				В корзину
			</span>
		</button>
		<button class="ui-btn ui-btn--border-blue ui-card__btn" data-popup="oneclickbuy">
			<span class="ui-btn__text">
				Купить в&nbsp;1&nbsp;клик
			</span>
		</button>
	</div>
</@@tag>