<div class="ui-sidemenu @@mod">
	<div class="ui-sidemenu__ttl">
		Категории товаров
	</div>
	<ul class="ui-sidemenu__list">
		<li class="ui-sidemenu__item">
			<a class="ui-sidemenu__link">
				Пенные насадки и комплектующие
			</a>
			<span class="ui-sidemenu__arr"></span>
			<ul class="ui-sidemenu__sublist">
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенные насадки
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенокомлекты
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенонасадки для МСО
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Адаптеры, переходники и запчасти для пенных насадок
					</a>
				</li>
			</ul>
		</li>
		<li class="ui-sidemenu__item">
			<a class="ui-sidemenu__link">
				Шланги высокого давления для минимоек и АВД
			</a>
			<span class="ui-sidemenu__arr"></span>
			<ul class="ui-sidemenu__sublist">
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенные насадки
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенокомлекты
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенонасадки для МСО
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Адаптеры, переходники и запчасти для пенных насадок
					</a>
				</li>
			</ul>
		</li>
		<li class="ui-sidemenu__item">
			<a class="ui-sidemenu__link">
				Шланги прочистки канализации для минимоек и АВД
			</a>
			<span class="ui-sidemenu__arr"></span>
			<ul class="ui-sidemenu__sublist">
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенные насадки
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенокомлекты
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенонасадки для МСО
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Адаптеры, переходники и запчасти для пенных насадок
					</a>
				</li>
			</ul>
		</li>
		<li class="ui-sidemenu__item">
			<a class="ui-sidemenu__link">
				Пенные насадки и комплектующие
			</a>
			<span class="ui-sidemenu__arr"></span>
			<ul class="ui-sidemenu__sublist">
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенные насадки
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенокомлекты
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенонасадки для МСО
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Адаптеры, переходники и запчасти для пенных насадок
					</a>
				</li>
			</ul>
		</li>
		<li class="ui-sidemenu__item">
			<a class="ui-sidemenu__link">
				Шланги высокого давления для минимоек и АВД
			</a>
			<span class="ui-sidemenu__arr"></span>
			<ul class="ui-sidemenu__sublist">
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенные насадки
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенокомлекты
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенонасадки для МСО
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Адаптеры, переходники и запчасти для пенных насадок
					</a>
				</li>
			</ul>
		</li>
		<li class="ui-sidemenu__item">
			<a class="ui-sidemenu__link">
				Шланги прочистки канализации для минимоек и АВД
			</a>
			<span class="ui-sidemenu__arr"></span>
			<ul class="ui-sidemenu__sublist">
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенные насадки
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенокомлекты
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенонасадки для МСО
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Адаптеры, переходники и запчасти для пенных насадок
					</a>
				</li>
			</ul>
		</li>
		<li class="ui-sidemenu__item">
			<a class="ui-sidemenu__link">
				Пенные насадки и комплектующие
			</a>
			<span class="ui-sidemenu__arr"></span>
			<ul class="ui-sidemenu__sublist">
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенные насадки
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенокомлекты
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенонасадки для МСО
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Адаптеры, переходники и запчасти для пенных насадок
					</a>
				</li>
			</ul>
		</li>
		<li class="ui-sidemenu__item">
			<a class="ui-sidemenu__link">
				Шланги высокого давления для минимоек и АВД
			</a>
			<span class="ui-sidemenu__arr"></span>
			<ul class="ui-sidemenu__sublist">
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенные насадки
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенокомлекты
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенонасадки для МСО
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Адаптеры, переходники и запчасти для пенных насадок
					</a>
				</li>
			</ul>
		</li>
		<li class="ui-sidemenu__item">
			<a class="ui-sidemenu__link">
				Шланги прочистки канализации для минимоек и АВД
			</a>
			<span class="ui-sidemenu__arr"></span>
			<ul class="ui-sidemenu__sublist">
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенные насадки
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенокомлекты
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенонасадки для МСО
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Адаптеры, переходники и запчасти для пенных насадок
					</a>
				</li>
			</ul>
		</li>
		<li class="ui-sidemenu__item">
			<a class="ui-sidemenu__link">
				Пенные насадки и комплектующие
			</a>
			<span class="ui-sidemenu__arr"></span>
			<ul class="ui-sidemenu__sublist">
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенные насадки
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенокомлекты
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенонасадки для МСО
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Адаптеры, переходники и запчасти для пенных насадок
					</a>
				</li>
			</ul>
		</li>
		<li class="ui-sidemenu__item">
			<a class="ui-sidemenu__link">
				Шланги высокого давления для минимоек и АВД
			</a>
			<span class="ui-sidemenu__arr"></span>
			<ul class="ui-sidemenu__sublist">
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенные насадки
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенокомлекты
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенонасадки для МСО
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Адаптеры, переходники и запчасти для пенных насадок
					</a>
				</li>
			</ul>
		</li>
		<li class="ui-sidemenu__item">
			<a class="ui-sidemenu__link">
				Шланги прочистки канализации для минимоек и АВД
			</a>
			<span class="ui-sidemenu__arr"></span>
			<ul class="ui-sidemenu__sublist">
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенные насадки
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенокомлекты
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Пенонасадки для МСО
					</a>
				</li>
				<li class="ui-sidemenu__subitem">
					<a class="ui-sidemenu__sublink">
						Адаптеры, переходники и запчасти для пенных насадок
					</a>
				</li>
			</ul>
		</li>
	</ul>
</div>